/* Vetsion UI Style Color Guide */
$white: #ffffff;
$dark-grey-blue: #2d4659;
$maize: #f6cc4c;
$mud-brown: #6b4511;
$tealish: #2fc5cf;
$rosy-pink: #f0717d;
$dark-red: #7b0d00;
$pale-grey: #e3ebee;
$white-two: #f8f8f8;
$warm-grey: #898989;
$white-three: #f5f5f5;
$light-teal: #abe8ec;
$silver: #c9caca;

/* Vuitify Valuab */
$body-font-family: "Noto Sans CJK TC";
$border-radius-root: 20px;
$material-light: ('background': #fff);

/* Font */
$base-size: (62.5/100) * 16px;
$font-small: $base-size * 1.2;
$font-medium: $base-size * 1.6;
$font-large: $base-size * 1.8;
$font-large-x1: $base-size * 2;
$font-large-x2: $base-size * 2.2;
$font-large-x3: $base-size * 2.4;
$font-large-x4: $base-size * 3;
$font-large-x5: $base-size * 3.6;
$font-welcome: $base-size * 7.8;
$font-weight-bold: 900;
